@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <p>Greetings from Redmond, I hope you are enjoying the session.</p>
    <p>Best regards, </br>Carlos A. Marquez</p>

    <p>It will be an honor to connect with you at <a href="https://www.linkedin.com/in/carlosalexei/">LinkedIn</a>.</p>
</div>
